body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.booksList {
  font-size: 14px;
}

div.price {
  border: 1px solid black;
  margin-top: 5px;
  text-align: center;
  width: 10%;
}

div.shoppingCart {
  padding: 5px;
  margin-top: 2%;
  width: 50%;
  border: 1px solid rgb(156, 55, 55);
}
