body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

hr {
  width: 90%;
  background-color: darkolivegreen;
  height: 1.5px;
}

button {
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

button:active {
  background-color: #000000;
  color: whitesmoke;
}

form {
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 10px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.booksList {
  font-size: 14px;
}

div.price {
  border: 1px solid black;
  margin-top: 5px;
  text-align: center;
  width: 10%;
}

div.shoppingCart {
  padding: 5px;
  margin-top: 2%;
  width: 50%;
  border: 1px solid rgb(156, 55, 55);
}

div.active {
  font-size: 24px;
}

div.searchResults {
  font-size: 20px;
  color: rgb(42, 47, 42);
  margin-left: 10px;
}

button {
  background-color: rgb(156, 55, 55);
  color: white;
}

